extends ../layout

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					.col.py-2.bg-white
						h4.text-info.m-0.pb-3 Busqueda de Vacantes
						span Tipo de Puesto: Aeromoza
						.col
							.table-responsive.table-responsive-xl
								table.table.table-hover.table-striped.table-custom-success
									caption.text-center
										b Nota.
										| Para poder postularte a una vacante, tienes que cumplir cierto porcentaje de los requerimientos extras de cada vacante.
									caption
										nav
											ul.pagination.justify-content-center
												li.page-item
													a.page-link.m-0(href="#")
														span.fa.fa-arrow-left(aria-hidden="true") 
														span.sr-only Previous
												li.page-item.active
													a.page-link.m-0(href="#") 1
												li.page-item
													a.page-link.m-0(href="#") 2
												li.page-item
													a.page-link.m-0(href="#") 3
												li.page-item
													a.page-link.m-0(href="#") 4
												li.page-item
													a.page-link.m-0(href="#")
														span.fa.fa-arrow-right(aria-hidden="true")
														span.sr-only Next
									thead
										tr
											th(scope="col")
											th(scope="col")
											th(scope="col") ID
											th(scope="col") EMPRESA
											th(scope="col") NOMBRE VANCATE
											th(scope="col") TIPO
											th(scope="col") FECHA DE REGISTRO
											th(scope="col")
											th(scope="col")
											th(scope="col")
									tbody
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										tr
											td.align-middle(scope="col")
											td.align-middle(scope="col")
											td.align-middle(scope="col") 1
											td.align-middle(scope="col") EMPRESA 1
											td.align-middle(scope="col") Nombre 1
											td.align-middle(scope="col") Tipo 1
											td.align-middle(scope="col") Fecha 1
											td.align-middle(scope="col")
												button.btn.btn-custom-success.btn-block(type="button") VER MÁS INFORMACIÓN
											td.align-middle(scope="col")
											td.align-middle(scope="col")
										