extends ../layout 

block content 
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					.col.py-5.px-5(data-image="./images/KRILLOS.jpg", filter-color="black", style="box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);")
						h4.m-0.text-white.text-capitalize Lista de Usuarios
					.col.p-4.bg-white
						.row.mb-3
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="blue")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/ryan.jpg", alt="")
										.card-body.py-0
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="green")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/eva.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="grey")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/ryan.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="purple")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/eva.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="yellow")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/ryan.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="pink")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/eva.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="brown")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/ryan.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="orange")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/eva.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
								.card.ks-card(data-color="red")
									div
										h4.card-title.text-center.mt-2.mt-0 Cargo
										img.ks-card-img-top.rounded-circle(src="./images/eva.jpg", alt="")
										.card-body
											h5.card-title.text-center Ryan
											span.text-muted.text-center.d-block Pepa
											p.card-text Lorem ipsum dolor sit amet.

